Source: horizon-gnome-default-settings
Section: gnome
Priority: optional
Maintainer: Microwave
Standards-Version: 4.6.0
Build-Depends: debhelper-compat (= 12)
Rules-Requires-Root: no

Package: horizon-gnome-default-settings
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
         libglib2.0-bin
Description: Horizon Linux GNOME default settings
 This package contains the default settings for Horizon Linux GNOME.
